@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

body {
    font-family: "Lato", sans-serif;
    overflow-x: hidden;
    margin: 0;
    box-sizing: border-box;
    background-color: #FAFBFD;
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
}

button {
    font-family: "Lato", sans-serif;
    cursor: pointer;
}

i {
    cursor: pointer;
}

.flex {
    display: flex;
}

.grid {
    display: grid;
}

/* loader overlay */
.page-loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #141928;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
}

/* spinner */
.loader-spinner {
  width: 50px;
  height: 50px;
  border: 5px solid #f3f3f3;
  border-top: 5px solid #141928;
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0%  { transform: rotate(0deg); }
  100%{ transform: rotate(360deg); }
}

/* ////// NAV BAR SECTION ////// */
nav {
    background-color: #0D4152;
    padding: 1rem 3rem;
    position: fixed;
    width: 100%;
    box-sizing: border-box;
    top: 0;
    z-index: 2;
    align-items: center;
    justify-content: space-between;
    margin: 0;
}

nav a {
    font-size: 1.68rem;
    text-decoration: none;
    color: white;
}

nav i {
    color: white;
    font-size: 1.125rem;
}
.nav-menu-icon {
    display: none;
}

.nav-menu-icon.active {
    display: none;
}

.user-setting-dropdown {
    position: fixed;
    top: 4rem;
    right: 0;
    padding: 1.5rem 0;
    box-shadow: 0 2px 8px rgba(0, 0, 0, .3);
    display: flex;
    flex-direction: column;
    gap: 1rem;
    background-color: #F4F4F4;
    border-radius: 0.2rem;
    width: 15rem;
    opacity: 0;
    z-index: -1;
    transition: opacity 0.5s ease-in-out;
}

.user-setting-dropdown button {
    border: none;
    display: flex;
    color: #212529;
    background-color: transparent;
    font-size: 0.8125rem;
    padding: 0.5rem 0 0.5rem 1rem;
    cursor: pointer;
    width: 100%;
}

.user-setting-dropdown button:hover {
    background-color: #E9ECEF;
    
}

.user-setting-dropdown .logout {
    border-top: 1px solid #8d9498;
    padding-top: 0.5rem;
}


.user-setting-dropdown.inactive {
    opacity: 1;
    z-index: 2;
}

/* ////// SIDE AND MAIN SECTION ////// */
.side_menu-main {
    padding-top: 3rem;
}

/* ////// SIDE BAR ////// */
.side-menu {
    padding: 2rem 1rem;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    position: fixed;
    overflow: auto;
    background-color: #FFFFFF;
    height: 80vh;
    z-index: 1;
    top: 4rem;
    left: 0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, .3);
    transition: left 0.5s ease-in-out;
}

.user-side-bar::-webkit-scrollbar{
    display: none;
}
.admin-user {
    border-bottom:  1px solid #f1f1f1;
    padding-bottom: 0.75rem;
}
.admin-name {
    color: #777;
    font-size: 0.875rem;
}

.admin-title {
    color: #555;
    font-size: 0.75rem;
    font-weight: 600;
}

.side-menu a, .side-menu span {
    text-decoration: none;
    color: #8d9498;
    font-size: 0.875rem;
   
}

.side-menu i {
    color: #8d9498;
}

.admin-div {
    display: flex;
    gap: 1rem;
    align-items: center;
    padding: 0.5rem 0.8rem;
    cursor: pointer;
    border-radius: 6px 6px 6px 0;
}

.admin-div:hover {
    background-color: #F4F4F4;
}

.side-menu a:hover, .admin-div span:hover, .admin-div i:hover {
    font-weight: bold;
}

.admin-div.active {
    background-color: #0D4152;
}

.side-menu a.active, .side-menu span.active, .side-menu i.active {
    color: white;
    font-weight: bold;
}

.dropdown li::marker {
    color: #8d9498;
}

.dropdown ul {
    margin: 0;
    padding-left: 3.5rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.account-dropdown, .dep-with-dropdown, .packages-dropdown {
    margin-top: -0.5rem;
    margin-bottom: 1.5rem;
}

.dropdown.inactive {
    display: none;
}

/* ////////////////////////////// DASHBOARD OVERVIEW /////////////////////////////////////// */
.main-dashboard {
    margin-left: 14rem;
    padding: 7rem 2rem 5rem;
    width: 100%;
    background-color: #FAFBFD;
    box-sizing: border-box;
}

.welcome {
    margin-bottom: 4rem;
}
h1 {
    font-size: 1.725rem;
    color: #575962;
    font-weight: 500;
    line-height: 1.4;
    margin: 0;
}

.welcome p {
    margin-top: 0.5rem;
    font-size: 0.9125rem;
    color: #575962;
    opacity: .7;
}

/* ////// DASHBOARD////// */
.dashboard-overview {
   grid-template-columns: repeat(4, 1fr);
   column-gap: 1.5rem;
   row-gap: 2.5rem;
   margin-bottom: 5rem;
}

.dashboard-overview >* {
    gap: 1rem;
    align-items: center;
    padding: 0.9375rem;
    border-radius: 0.3rem;
    background-color: #fff;
    box-shadow: 0 2px 8px rgba(0, 0, 0, .3);
}

.icon-img {
    width: 4rem;
    height: 4rem;
    justify-content: center;
    align-items: center;
    border-radius: .3125rem;
}

.icon-img i {
    font-size: 2.2rem;
    color: #fff;
}

.dashboard-overview > * p {
    font-size: .875rem;
    color: #8d9498;
    margin-bottom: 0.5rem;
}

.dashboard-overview > * span {
    font-size: 1.25rem;
    color: #8d9498;
   font-weight: 600;
}

.total-users-icon {
    background-color: #0e4152;
}

.active-subs-icon {
    background-color: #48abf7;
}

.total-withdrawals-icon, .total-deposits-icon {
    background-color: #6861ce;
}

.blocked-users-icon, .pending-withdrawals-icon {
    background-color: #f25961;
}

.active-users-icon {
    background-color: #ffad46;
}

.pending-deposits-icon {
    background-color: #0e4152;
}


/* ////// LATEST USER SECTION ////// */
.latest-user {
    padding: 2rem 1rem;
    box-shadow: 0 2px 8px rgba(0, 0, 0, .3);
}

.latest-user h2 {
    margin: 0;
    color: #575962;
    font-size: 1.25rem;
}

.latest-users-container {
    margin-top: 1.5rem;
    flex-direction: column;
    gap: 1rem;
}

.latest-users-container .user {
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}

.latest-users-container .user:hover {
    text-decoration: underline;
}

.latest-user-name {
    color: #0e4152;
    font-weight: 600;
    font-size: 0.8125rem;
    margin-bottom: 0.5rem;
}

.latest-user-mail {
    font-size: 0.6875rem;
    color: #7d7b7b;
}



/* ////////////////////////////// PLAN SECTION /////////////////////////////////////// */

/* ////// PLAN TOP ////// */
.plan-top {
    justify-content: space-between;
    align-items: center;
}

.plan-top button, .add-plan-btn, .add-user-btn {
    background-color: #0e4152;
    border-color: #0e4152;
    padding: 0.65rem 1.4rem;
    font-size: 0.875rem;
    border-radius: 0.25rem 0.25rem 0.25rem 0;
    color: white;
}

/* ////// PLAN CONTAINER ////// */
.plan-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 2rem;
    row-gap: 4rem;
    margin-top: 5rem;
}

.plan-container > * {
    border: 1px solid #D1DDEB;
    border-radius: 0.6rem;
    padding: 1.5rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, .3);
    transition: transform 0.3s;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.plan-container p {
    margin: 0;
    color: #343a40;
}

.plan-container .card-name {
    font-size: 1.5rem;
    color: #0e4152;
    font-weight: bold;
    margin-bottom: 2rem;
    text-align: center;
}

.plan-container .card-amount {
    font-size: 2.5rem;
    font-weight: bolder;
    margin-bottom: 2rem;
    text-align: center;
    color: #627afe;
}

.package-card div {
    display: flex;
    justify-content: space-between;
    margin-bottom: 0.5rem;
}

.plan-container .invested-amount {
    margin-top: 2rem;
}

.package-card .plan-setting {
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
}

.plan-setting button {
    padding: 0.4375rem 0.8125rem;
    border-radius: 0.25rem 0.25rem 0.25rem 0;
    font-size: 0.675rem;
    border: none;
    color: white;
}

.edit-btn {
    background-color: #0e4152;
}

.del-btn {
    background-color: #f25961;
}

/* ////// ADD PLAN ////// */
.plan-form {
    margin-top: 3rem;
    padding: 2rem 1rem;
    background-color: white;
    border-radius: 1rem;
    box-shadow: 0 0 2px rgba(0, 0, 0, .3);
}

.form-container {
    grid-template-columns: repeat(2, 1fr);
    column-gap: 1.5rem;
    row-gap: 1rem;
}

.form-container > * {
    display: flex;
    flex-direction: column;

}

.form-container span {
    font-size: 0.9125rem;
    color: #575962;
    margin-bottom: 0.5rem;
    font-weight: bold;
}

.form-container input, .form-container select {
    font-size: 0.875rem;
    border: 1px solid #ebedf2;
    padding: 0.6rem 1rem;
    border-radius: 0.25rem;
    border-bottom-left-radius: 0;
    height: 1.5rem;
}

.form-container select {
    height: 2.5rem;
}

.form-container small {
    margin-top: 0.5rem;
    font-size: 0.8175rem;
    color: #575962;
}

.add-plan-btn {
    margin-top: 2rem;
}


/* ////// ACTIVE PLAN ////// */
.active-users-table, .users-list-table {
    box-shadow: 0 4px 8px rgba(0, 0, 0, .3);
    padding: 2rem 1.5rem;
    margin-top: 1.5rem;
    overflow-x: auto;
}

.user-search {
    justify-content: flex-end;
    gap: 1rem;
    align-items: center;
}

.user-search input, .user-search-add input {
    padding: 0.5rem;
}

table {
    padding: 3rem 1rem 0;
    width: 100%;
    border-spacing: 0;
    table-layout: fixed;
    min-width: 800px;
    overflow-x: scroll;
}

th {
    font-size: 1.2rem;
    border-bottom: 1px solid #8492a6;
    padding: 1.5rem 0;
    min-width: 7rem;
    /* white-space: nowrap; */
}

td {
    border-bottom: 1px solid #8492a6;
    text-align: center;
    font-size: 1rem;
    padding: 1.5rem 0;
    min-width: 7rem;
    /* white-space: nowrap; */
}

.action-btns {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    justify-content: center;
    align-items: center;
}

.entries {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 1rem;
}

.entries p {
    font-size: 1rem;
    margin: 0;
    color: #8492a6;
    font-weight: bold;
}

.entries-buttons {
    display: flex;
    gap: 1rem;
    align-items: center;
}

.prev-btn, .next-btn {
    padding: 0.5rem 1rem;
    font-size: 1.5rem;
    font-weight: bold;
    background-color: #8492a6;
    color: #D1DDEB;
    border: none;
    border-radius: 1.5rem;
    cursor: pointer;
}

.pg-btn {
    padding: 0.5rem 1rem;
    font-size: 1rem;
    border: none;
    background-color: #D1DDEB;
    color: #141928;
    font-weight: 500;
    cursor: pointer;
}


/* ////////////////////////////// MANAGE USERS /////////////////////////////////////// */
.user-search-add {
    justify-content: space-between;
    align-items: center;
}

.user-search-add button, .manage-btn, .deposit-action button, .manage-admins-action, .payment-method button, .action-btns button {
    padding: 0.4375rem 0.8125rem ;
    font-size: 0.6875rem;
    border: none;
    color: white;
    border-radius: 0.25rem;
}

.checkbox {
    cursor: pointer;
}

.send-msg-btn {
    background-color: #51AEF7;
}

.new-user-btn, .complete-btn {
   background-color: #0e4152;
}

.manage-btn, .manage-admins-action, .cancel-btn {
    background-color: #6861ce;
}

.username-action {
    justify-content: space-between;
    align-items: center;
}

.user-action button, .view-plans-btn {
    padding: 0.65rem 1.4rem;
    font-size: 0.875rem;
    border-radius: 0.25rem 0.25rem 0.25rem 0;
    color: white;
}

.back-btn, .view-plans-btn {
    background-color: #0e4152;
    border-color: #0e4152;
}

.action-btn {
    background-color: #6861ce;
    border-color: #6861ce;
}

.user-account-dashboard {
    grid-template-columns: repeat(4, 1fr);
    padding: 1.5rem 2.5rem;
    border: 1px solid #0D4152;
    border-radius: 1rem;
    margin-top: 3rem;
    gap: 1.5rem;
}

.user-account-dashboard h3 {
    margin-bottom: 0.8rem;
    color: #575962;
}

.status-display, .kyc-display, .roi-display {
    padding: 0.5rem 1rem;
    border-radius: 3rem;
    background-color: #f25961;
    width: fit-content;
    color: white;
}

.user-info-h2 {
    margin: 2rem 0;
}

.user-information > * {
    display: flex;
    align-items:  center;
    border: 1px solid #0D4152;
    padding: 1.5rem;
    
}

.user-information div p {
    color: #0D4152;
}

.user-info-title {
    width: 40%;
    border-right: 1px solid #0D4152;

}

.user-info-p {
    padding-left: 1rem;
}



.add-new-users {
    border-radius: 0.5rem;
    background-color: #FFFFFF;
    box-shadow: 0 2px 8px rgba(0, 0, 0, .3);
    width: 30rem;
    position: fixed;
    top: 4rem;
    left: 40%;
    z-index: 5;
    visibility: hidden;
    max-height: 0;
    transform: translateY(-100%);
    transition: transform 0.5s ease;
}

.add-user {
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem 1.5rem 2.5rem;
    border-bottom: 1px solid #8d9498;
}

.add-new-users form {
    display: flex;
    flex-direction: column;
    padding: 1.5rem;
}

.add-new-users span {
    font-size: 0.825rem;
    color: #575962;
    margin-bottom: 0.5rem;
}

.add-new-users input, .add-new-users select {
    padding: 0.6rem 1rem;
    font-size: 0.875rem;
    border-radius: 0.25rem;
    border: 1px solid #D1DDEB;
    margin-bottom: 1.5rem;
}

.add-user-btn {
    width: fit-content;
}

.add-new-users.active {
    visibility: visible;
    max-height: fit-content;
    transition: opacity 0.5s ease;
    transform: translateY(0);
    transition: transform 0.5s ease;
}

.users-action-dropdown {
    position: absolute;
    top: 10rem;
    right: 1rem;
    background-color: #F4F4F4;
    box-shadow: 0 2px 8px rgba(0, 0, 0, .3);
    border-radius: 0.25rem;
    padding: 0.5rem 0;
    z-index: 1;
    padding: 0 1rem;
    display: none;
}

.users-action-dropdown ul {
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}
.users-action-dropdown ul button {
    background-color: transparent;
    border: none;
    color: #212529;
    font-size: 0.8125rem;
    cursor: pointer;
    padding: 0.5rem 1rem;
}

.users-action-dropdown ul li:hover {
    background-color: #E9ECEF;
}

.users-action-dropdown.active {
    display: block;
}



/* ////////////////////////////// MANAGE DEPOSITS /////////////////////////////////////// */
.deposit-action-view {
    background-color: #48abf7;
}

.deposit-action-del {
    background-color: #f25961;
}

.deposit-action-confirm {
    background-color: #0e4152;
}

.modal{
    display:none;
    position:fixed;
    inset:0;
    background:rgba(0,0,0,.8);
    justify-content:center;
    align-items:center;
    z-index:1000;
}

.modal img{
    max-width:90%;
    max-height:90%;
}

#closeModal{
    position:absolute;
    top:20px;
    right:30px;
    color:#fff;
    font-size:30px;
    cursor:pointer;
}

/* ////////////////////////////// EMAIL SERVICES /////////////////////////////////////// */
.email-form, .admin-form, .payment-setting {
    margin-top: 2.5rem;
    background-color: white;
    padding: 2rem;
    box-shadow: 0 2px 8px rgba(0, 0, 0, .3);
}

.email-form form {
    display: flex;
    flex-direction: column;
}

.email-form span {
    font-size: 0.825rem;
    color: #575962;
    margin-bottom: 0.5rem;
}

.email-form select, .email-form input{
    padding: 0.6rem 1rem;
    font-size: 0.875rem;
    border-radius: 0.25rem;
    border: 1px solid #D1DDEB;
    margin-bottom: 1.5rem;
}

.greet-title input {
    width: 100%;
}

.ck.ck-reset {
    height: 8rem !important;
}

/* ////////////////////////////// ADMINISTRATION SECTION /////////////////////////////////////// */
.admin-form form {
    display: flex;
    flex-direction: column;
}

.admin-form span {
    font-size: 1rem;
    color: #575962;
    margin-bottom: 0.5rem;
}

.admin-form select, .admin-form input {
    padding: 0.6rem 1rem;
    font-size: 1rem;
    border-radius: 0.25rem;
    border: 1px solid #D1DDEB;
    margin-bottom: 1.5rem;
}

.admin-form button {
    padding: 0.75rem 1.6rem;
    width: fit-content;
    background-color: #0e4152;
    font-size: 0.9375rem;
    color: white;
    border-radius: 0.25rem;
}

.payment-method button {
    background-color: #0D4152;
}


/* ////////////////////////////// SETTING SECTION /////////////////////////////////////// */
.payment-method {
    justify-content: space-between;
    align-items: center;
}

.payment-method p {
    color: #575962;
    font-size: 1.5rem;
}



/* ////////////////////////////// MEDIA RESPONSIVENESS /////////////////////////////////////// */

@media (max-width: 1000px) {
    /* ////// NAV BAR SECTION ////// */
    .nav-menu-icon {
        display: block;
    }

    .side-menu.active {  
        left: -15rem;
    }

    /* ////////////////////////////// DASHBOARD OVERVIEW /////////////////////////////////////// */
    .main-dashboard {
        margin-left: 0;
    
    }

   /* ////////////////////////////// PLAN SECTION /////////////////////////////////////// */
    .plan-container {
        grid-template-columns: repeat(2, 1fr);
    }

    /* ////////////////////////////// MANAGE USERS /////////////////////////////////////// */
    .add-new-users {
        left: 30%;
        width: 20rem;
    }


}

@media (max-width:800px) {
    /* ////// DASHBOARD////// */
    .dashboard-overview {
        grid-template-columns: repeat(2, 1fr);
    }

    /* ////////////////////////////// PLAN SECTION /////////////////////////////////////// */
    .form-container {
        grid-template-columns: repeat(1, 1fr);
        gap: 2rem;
    }
}

@media (max-width:760px) {
    /* ////////////////////////////// PLAN SECTION /////////////////////////////////////// */
    .plan-container {
        grid-template-columns: repeat(1, 1fr);
    }


    /* ////////////////////////////// PLAN SECTION /////////////////////////////////////// */
    /* ////// ACTIVE PLAN ////// */
    table {
        padding: 2rem 1rem 0;
        
    }

    th {
        font-size: 1rem;   
    }

    td {
        font-size: 0.8rem;
    }

    .entries {
        padding: 1rem;
        /* white-space: nowrap; */
    }

    .prev-btn, .next-btn {
        font-size: 1rem;
    }

    .pg-btn {
        font-size: 0.8rem;
    }

    /* ////////////////////////////// MANAGE USERS /////////////////////////////////////// */
    .user-account-dashboard {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width:600px) {
    /* ////////////////////////////// MANAGE USERS /////////////////////////////////////// */
    .add-new-users {
        left: 20%;
        width: 15rem;
    }
}

@media (max-width:500px) {
    /* ////// DASHBOARD////// */
    .dashboard-overview {
        grid-template-columns: repeat(1, 1fr);
    }

    /* ////////////////////////////// PLAN SECTION /////////////////////////////////////// */


    .plan-top {
        justify-content: flex-start;
        align-items: flex-start;
        flex-direction: column;
        gap: 2rem;
    }

    /* ////// ACTIVE PLAN ////// */
    th {
        font-size: 0.8rem;
    }

    td {
        font-size: 0.6rem;
    }

    .prev-btn, .next-btn {
        font-size: 0.8rem;
    }

    .pg-btn {
        font-size: 0.6rem;
    }

    /* ////////////////////////////// MANAGE USERS /////////////////////////////////////// */
    .user-search-add {
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        gap: 2rem;
    
    }

    .username-action {
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        gap: 1.5rem;
    }

    .user-account-dashboard {
        grid-template-columns: repeat(1, 1fr);
    }

    .user-information > * {
        align-items: flex-start;
        flex-direction: column;
        gap: 0.5rem;   
    }

    .user-info-title {
        width: 100%;
        border-right: none;
    
    }

    .user-info-p {
        padding-left: 0;
    }

    .users-action-dropdown {
        top: 14rem;
        right: 10rem;
        left: 1rem;
    }
}