@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

body {
    font-family: "Lato", sans-serif;
    overflow-x: hidden;
    margin: 0;
    box-sizing: border-box;
    background-color: #FAFBFD;
}

button {
    font-family: "Lato", sans-serif;
    cursor: pointer;
}

i {
    cursor: pointer;
}

p {
    margin: 0;
}

.flex {
    display: flex;
}

.block {
    display: block;
}

/* ////// NAV BAR SECTION ////// */
nav {
    background-color: #0D4152;
    padding: 1rem 3rem;
    position: fixed;
    width: 100%;
    box-sizing: border-box;
    top: 0;
    z-index: 1;
    align-items: center;
    justify-content: space-between;
    margin: 0;
}

nav a {
    font-size: 1.68rem;
    text-decoration: none;
    color: white;
}

nav i {
    color: white;
    font-size: 1.125rem;
}

/* ////// SIDE AND MAIN SECTION ////// */
.side_menu-main {
    padding-top: 3rem;
}

/* ////// SIDE BAR ////// */
.side-menu {
    padding: 2rem 1rem;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    position: fixed;
    overflow: auto;
    background-color: #FFFFFF;
    height: 90vh;
    z-index: 1;
    top: 7%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, .3);
}

.user-side-bar::-webkit-scrollbar{
    display: none;
}
.admin-user {
    border-bottom:  1px solid #f1f1f1;
    padding-bottom: 0.75rem;
}
.admin-name {
    color: #777;
    font-size: 0.875rem;
}

.admin-title {
    color: #555;
    font-size: 0.75rem;
    font-weight: 600;
}

.side-menu a, .side-menu span {
    text-decoration: none;
    color: #8d9498;
    font-size: 0.875rem;
   
}

.side-menu i {
    color: #8d9498;
}

.admin-div {
    display: flex;
    gap: 1rem;
    align-items: center;
    padding: 0.5rem 0.8rem;
    cursor: pointer;
    border-radius: 6px 6px 6px 0;
}

.admin-div:hover {
    background-color: #F4F4F4;
}

.side-menu a:hover, .admin-div span:hover, .admin-div i:hover {
    font-weight: bold;
}

.admin-div.active {
    background-color: #0D4152;
}

.side-menu a.active, .side-menu span.active, .side-menu i.active {
    color: white;
    font-weight: bold;
}

.dropdown li::marker {
    color: #8d9498;
}

.dropdown ul {
    margin: 0;
    padding-left: 3.5rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.account-dropdown, .dep-with-dropdown, .packages-dropdown {
    margin-top: -0.5rem;
    margin-bottom: 1.5rem;
}

.dropdown.inactive {
    display: none;
}

/* ////////////////////////////// DASHBOARD OVERVIEW /////////////////////////////////////// */
.main-dashboard {
    margin-left: 14rem;
    padding: 2rem 2rem 5rem;
    width: 100%;
    background-color: #FAFBFD;
}

/* ////// DASHBOARD////// */
.welcome {
    margin-bottom: 4rem;
}
h1 {
    font-size: 1.725rem;
    color: #575962;
    font-weight: 500;
    line-height: 1.4;
    margin: 0;
}

.welcome p {
    margin-top: 0.5rem;
    font-size: 0.9125rem;
    color: #575962;
    opacity: .7;
}