@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400;500;600;700;800;900;1000&display=swap');

body {
    font-family: 'Nunito Sans', sans-serif;
    overflow-x: hidden;
    margin: 0;
    box-sizing: border-box;
}

button {
    font-family: 'Nunito Sans', sans-serif;
}


/*Colors
 [  #D1DDEB nav bar text color 
    #141928 nav bar background color ] */

/* ////// NAV BAR SECTION ////// */
nav {
    background-color: #141928;
    padding: 0.8rem 3rem;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1;
}

nav ul, .nav-items{
    display: flex;
    list-style: none;
    align-items: center;
}

nav ul {
    justify-content: space-between;
    margin: 0;
    padding: 0 4rem 0 0;
}

nav ul li {
    cursor: pointer;
}

.nav-items {
    gap: 2rem;
    /* margin-right: 6rem; */
}

.nav-items a {
    text-decoration: none;
    color: #D1DDEB;
    font-size: 1rem;
}

.nav-items .a-links.active {
    border-bottom: 1px solid #D1DDEB;
}

.nav-items .a-links:hover {
    border-bottom: 1px solid #D1DDEB;
    padding-bottom: 0.2rem;
}

.nav-items button {
    padding: 0.5rem 2rem;
    font-size: 1rem;
    background-color: #D1DDEB;
    color: #141928;
    border-radius: 0.3rem;
    border: none;
    font-weight: 700;
    cursor: pointer;
}

.nav-items button:hover, .mobile-menu button:hover {
    background: transparent;
    color: #D1DDEB;
    border-right: 1px solid #D1DDEB;
    border-left: 1px solid #D1DDEB;
    box-shadow: 0 4px 8px #fff8f84d;
}

.nav-menu-icon, .mobile-menu, .remove-nav-icon {
    display: none;
}

/* ////// TOP CONTAINER ////// */
.top-container {
    display: flex;
    align-items: center;
    padding:5rem 5rem 0;
    background-color: #16122C;

}

.top-container img {
    width: 40%;
}

.top-container h1 {
    font-size: 4rem;
    line-height: 4rem;
    margin: 0;
    color: white;
}

.top-container p {
    font-size: 1rem;
    color: #D1DDEB;
    width: 70%;
}

.top-container button {
    padding: 1rem 3rem;
    font-size: 1.5rem;
    background-color: #D1DDEB;
    color: #141928;
    border-radius: 0.3rem;
    border: none;
    font-weight: 700;
    cursor: pointer;
}

/* ////// SECURITY SECTION ////// */
.security-container {
    margin: 8rem 8rem 0;

}

h2 {
    font-size: 2.5rem;
}

.security-container h2, .services-section h2 {
    text-align: center;
}

.security-flex {
    display: flex;
    justify-content: center;
    gap: 3rem;
}

.security-flex div {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.security-flex img {
    width: 25%;
    aspect-ratio: 3/2;
    object-fit: contain;
    /* mix-blend-mode: color-burn; */
}

.security-flex div h3 {
    font-size: 1.2rem;
}

.security-flex div p {
    text-align: center;
    color: #8492a6;
    margin: 0;
}

/* ////// SERVICE SECTION ////// */
.services-section {
    margin: 14rem 8rem 0;
}

.services-section h2 {
    margin-bottom: 1rem;
}

.service-p {
    color: #8492a6;
    font-size: 1rem;
    text-align: center;
    margin: 0;
}

.img-and-services {
    display: flex;
    align-items: center;
    gap: 3rem;
    margin-top: 8rem;
}

.img-and-services img {
    width: 100%;
}

.services-grid {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
}

.services-grid i {
    font-size: 2rem;
    color: #8492a6;
}

.services-grid h3 {
    margin: 0.3rem 0 1rem;
}

.services-grid p {
    font-size: 1rem;
    margin: 0;
    color: #8492a6;
}


/* ////// MARKET OVERVIEW SECTION ////// */
.market-overview-section {
    margin: 16rem 8rem 0;
    display: flex;
    gap: 3rem;
    height: fit-content;
}

.market-overview-text h2 {
    text-align: center;
}

.market-overview-text p {
    margin: 0;
    line-height: 1.8rem;
    color: #8492a6;
}

.tradingview-widget-container {
    width: 200rem;
    height: 37.5rem;
}

/* ////// ALWAYS ON SECTION ////// */
.always-container {
    margin: 8rem 0 0;
    background-color: #16122C;
    display: flex;
    gap: 2rem;
    padding: 8rem 8rem 3rem;
}

.always-container h2 {
    color: #D1DDEB;
}

.always-container p {
    color: #8492a6;
    margin: 0 0 1rem;

}

.find-more {
    color: #D1DDEB;
    text-decoration: none;
    cursor: pointer;
}

.find-more:hover {
    filter: brightness(.8);
}

/* ////// TRADING PACKAGE SECTION ////// */
.plan-container {
    margin: 16rem 8rem 0;
}

.plan-container h2 {
    text-align: center;
    margin-bottom: 1rem;
}

.select-p {
    color: #8492a6;
    text-align: center;
    margin: 0;
}

.plan-cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 2rem;
    row-gap: 4rem;
    margin-top: 5rem;
}

.plan-cards > * {
    border: 1px solid #D1DDEB;
    border-radius: 0.6rem;
    padding: 1.5rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, .3);
    transition: transform 0.3s;
}

.plan-cards > *:hover {
    transform: scale(1.05); 
}

.plan-cards h4 {
    margin: 0;
    background-color: #16122C;
    padding: 0.5rem 1rem;
    color: #D1DDEB;
    width: fit-content;
    border-radius: 1.5rem;
}

.plan-price {
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 0.3rem;
}

.plan-duration {
    color: #8492a6;
    font-weight: bold;
}

.plan-perks {
    border-top: 1px solid #D1DDEB;
    margin-top: 1rem;
}

.plan-perks p {
    color: #8492a6;
    font-size: 1rem;
}

.plan-cards button {
    width: 100%;
    margin-top: 1rem;
    padding: 0.6rem 1rem;
    font-size: 1rem;
    font-weight: bold;
    background-color: #16122C;
    color: #D1DDEB;
    border: none;
    border-radius: 0 0 0.5rem 0.5rem;
    cursor: pointer;
}

.plan-cards button:hover {
    filter: opacity(.9);
}

/* ////// EXCHAGE SECTION ////// */
.exchage-crypto {
    background-color: #16122C;
    padding: 8rem 8rem 5rem;
    margin-top: 8rem;
}



.exchage-crypto h2 {
    text-align: center;
    margin: 0;
    color: #D1DDEB;
}

.exchage-p {
    text-align: center;
    font-size: 1rem;
    color: #8492a6;
    width: 70%;
    margin: 1rem auto;
}

.crypto-cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: 4rem;
    gap: 3rem;
}

/* ////// REVIEW SECTION ////// */
.review-section {
    margin: 16rem 8rem 6rem;
}

.review-section h2 {
    text-align: center;
    margin: 0;

}

.review-p {
    text-align: center;
    font-size: 1rem;
    color: #8492a6;
}

.testimony-carousel {
    width: 100%;
    overflow: hidden;
    position: relative;
}

.testimony-container {
    display: flex;
    margin-top: 3rem;
    width: 100%;
    transition: transform 0.4s ease-in-out;
    
}

.testimony {
    display: flex;
    align-items: center;
    flex: 0 0 100%;
    width: inherit;
    gap: 1rem;
}

.testimony img {
    width: 40%;
}

.testimony-text {
    width: 100%;
}

.testimony-text h5 {
    font-size: 1.2rem;
    margin: 0;
    color: #8492a6;
}

.testimony-text small {
    color: #D1DDEB;
    margin: 0.5rem 0;
}

.stars {
    margin-top: 1.5rem;
    display: flex;
    gap: 0.8rem;
    color: #F17425;
}

.testimony-text p {
    font-size: 1rem;
    color: #8492a6;
}

/* ////// CALL TO ACTION ////// */
.call-to-action {
    background-color: #16122C;
    padding: 8rem;
}

.call-action {
    background-color: #D1DDEB;
    padding: 3rem 2rem;
    border-radius: 0.5rem;
    display: flex;
    align-items: end;
    justify-content: space-between;
}

.call-action div {
    width: 60%;
}

.call-action h2 {
    margin: 0;
    color: #141928;
}

.call-action p {
    margin-bottom: 0;
    font-size: 1rem;
}

.call-action button {
    padding: 0.8rem 1.5rem;
    font-size: 1rem;
    font-weight: bold;
    border: none;
    background-color: #16122C;
    color: #D1DDEB;
    border-radius: 0.5rem 0.5rem 0 0;
    cursor: pointer;
}

/* ////// FOOTER SECTION ////// */
footer {
    background-color: #D1DDEB;
    padding: 3rem 8rem 2rem;
}

.footer-flex {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
}

.footer-flex h4 {
    font-size: 1.5rem;
    margin: 0 0 1rem;
    color: #141928;
}

.logo-socials p {
    font-size: 1rem;
    font-weight: bold;
    color: #16122C;
    margin-top: 0;
}

.socials {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.socials a{
    font-size: 2.5rem;
    color: #16122C;
    cursor: pointer;
}

.useful-links {
    display: flex;
    flex-direction: column;
}

.useful-links a {
    text-decoration: none;
    font-size: 1rem;
    color: #16122C;
    cursor: pointer;
    font-weight: bold;
    margin-bottom: 0.8rem;
}

.useful-links a:hover {
    filter: brightness(.9);
}

.contact-details h5 {
    margin: 1rem 0 0;
    font-size: 1rem;
}

.contact-details p {
    margin: 0;
}

.copyright {
    margin-top: 4rem;
    font-size: 0.8rem;
    color: #16122C;
}


/* ////////////////////////////// ABOUT PAGE /////////////////////////////////////// */

/* ////// ABOUT TOP CONTAINER SECTION ////// */
.about-top-container, .contact-top-container {
    padding:5rem 5rem 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #D1DDEB;
    height: 50vh;
}

.about-top-container h1, .contact-top-container h1 {
    margin: 0;
    font-size: 3rem;
    color: #141928;
}

/* ////// WO WE ARE ////// */
.who-we-are {
    margin: 8rem 8rem;
    display: flex;
    gap: 3rem;
    align-items: center;
}

.who-we-are img {
    width: 100%;
    height: auto;
}

.who-we-are h2 {
    margin: 0;
}

.who-we-are p {
    color: #8492a6;
    font-size: 1rem;
}

.who-we-are button {
    padding: 0.5rem 2rem;
    font-size: 1rem;
    background-color: #16122C;
    color: #D1DDEB;
    border-radius: 0.3rem;
    border: none;
    font-weight: bold;
    cursor: pointer;
}

.who-we-are button:hover {
    filter: brightness(0.9);
}

/* ////// HOW TO GET STARTED ////// */
.how-to-get-started {
    background-color: #D1DDEB;
    padding: 5rem 8rem 8rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.how-to-get-started h2 {
    text-align: center;
}

.get-started-flex {
    display: flex;
    gap: 3rem;
    margin-top: 5rem;
}

.get-started-flex div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.get-started-flex i {
    background-color: #16122C;
    padding: 1rem;
    color: #D1DDEB;
}

.get-started-flex h3 {
    color: #16122C;
    text-align: center;
}

.get-started-flex div p {
    text-align: center;
    margin: 0;
}


/* ////////////////////////////// CONTACT PAGE /////////////////////////////////////// */

/* ////// CONTACT FORM ////// */
.contact-form {
    display: flex;
    align-items: flex-start;
    gap: 3rem;
    margin: 0 8rem;
    padding: 8rem 0;
}

.contact-info {
    border: 1px solid #D1DDEB;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    border-radius: 0.5rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, .3);
    width: 70%;
}

.contact-info h2 {
    margin: 0;
    font-size: 2rem;
    color: #16122C;
}

.address, .email, .tel {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.contact-info i {
    background-color: #16122C;
    padding: 0.5rem;
    /* border-radius: 100%; */
    color: #D1DDEB;
}

.contact-info h3 {
    margin: 0;
    color: #141928;
}

.contact-info p {
    margin: 0.5rem 0 0;
    color: #8492a6;
}

.contact-form form {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 2rem;
    border: 1px solid #D1DDEB;
    box-shadow: 0 4px 8px rgba(0, 0, 0, .3);
    width: 100%;
    border-radius: 0.5rem;
}

.contact-form form input, .contact-form form textarea {
    padding: 0 0.5rem;
    font-size: 1rem;
    border: 1px solid #D1DDEB;
    border-radius: 0.5rem;
    color: #16122C;
    cursor: pointer;
}

.contact-form form input:focus, .contact-form form textarea:focus {
    outline: none;
}

.contact-form form input {
    height: 3rem;
}

.contact-form form textarea {
    height: 8rem;
    padding-top: 0.5rem;
}

.contact-form button {
    padding: 0.8rem 2rem;
    font-size: 1.5rem;
    width: 100%;
    background-color: #16122C;
    color: #D1DDEB;
    border-radius: 0.5rem;
    border: none;
    font-weight: 700;
    cursor: pointer;
}

.contact-form button:hover {
    filter: brightness(.9);
}


/* ////////////////////////////// MARKET WATCH PAGE /////////////////////////////////////// */

/* ////// MARKET WATCH ////// */
.market-watch {
    margin: 0 8rem;
    padding: 8rem 0 15rem;
    height: 50rem;

}

.market-watch h2 {
    text-align: center;
    margin: 0;
}

.market-watch p {
    text-align: center;
    color: #8492a6;
    margin-bottom: 3rem;
}

.market {
    height: inherit;
}

/* ////////////////////////////// SIGN UP AND LOGIN PAGE /////////////////////////////////////// */

.sing-up-section {
    padding: 5rem 25rem;
    background-color: #141928;
    height: 100%;
}

.sing-up-section img {
   margin-left: 20%;
   width: 40%;
   margin-bottom: 2rem;
}

.sing-up-section .form-container {
    background-color: #D1DDEB;
    padding: 3rem 2rem;
    border-radius: 0.5rem;
}

.form-container h2 {
    margin: 0 0 2rem;
    text-align: center;
}

.form-container form {
    display: flex;
    flex-direction: column;
}

.form-container form span {
    font-size: 1rem;
    font-weight: bold;
    margin-bottom: 0.2rem;
    color: #16122C;
}

.input, .form-container form select {
    height: 3rem;
    border: 1px solid #8492a6;
    background-color: transparent;
    border-radius: 0.5rem;
    color: #8492a6;
    font-size: 1rem;
    cursor: pointer;
}

.form-container form input {
    padding-left: 0.5rem;
}

.form-container form input:focus, .form-container form select:focus {
    outline: 1px solid #16122C;
}

.inp, .form-container form select {
    margin-bottom: 1.5rem;
}

.terms-privacy, .remember-me {
    display: flex;
    align-items: center;
    gap: 0.2rem;
    margin: 1rem 0;
}

.terms-privacy input, .remember-me input {
    width: 1rem;
    height: 1rem;
    cursor: pointer;
    accent-color: #16122c;
    border: none;
}

.terms-privacy p, .remember-me p {
    margin: 0;
    color: #16122C;
    font-weight: bold;
}

.reg-btn {
    width: 100%;
    padding: 1rem;
    font-size: 1rem;
    font-weight: bold;
    border-radius: 0.5rem;
    border: none;
    background-color: #16122C;
    color: #D1DDEB;
}

.already-have-acc {
    color: #8492a6;
    margin-bottom: 0;
}

.already-have-acc a {
    text-decoration: none;
    color: #16122C;
    font-weight: bold;
}

.remeber-forget {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.remeber-forget a {
    text-decoration: none;
    color: #16122C;
}





@media (max-width:1290px) {
    /* ////// TRADING PACKAGE SECTION ////// */
    .plan-perks p {
        font-size: 0.8rem;
    }
}

@media (max-width:1200px) {
    /* ////// TOP CONTAINER ////// */
    .top-container h1 {
        font-size: 3rem;
    }
    
    .top-container button {
        padding: 0.8rem 2rem;
        font-size: 1rem;
    }

    /* ////// SERVICE SECTION ////// */
    .img-and-services {
        gap: 2rem;
    }

    .services-grid {
        gap: 1rem;
    }
    
    .services-grid i {
        font-size: 1.5rem;
    }
    
    .services-grid h3 {
        font-size: 1rem;
    }
    
    .services-grid p {
        font-size: 0.8rem;
        margin: 0;
        color: #8492a6;
    }


    /* ////////////////////////////// ABOUT PAGE /////////////////////////////////////// */

    /* ////// WO WE ARE ////// */
    .who-we-are img {
        width: 50%;
    }

    /* ////////////////////////////// SIGN UP AND LOGIN PAGE /////////////////////////////////////// */

    .sing-up-section {
        padding: 5rem 20rem;
    }

}

@media (max-width:1100px) {
    /* ////// TOP CONTAINER ////// */
    .top-container {    
        padding:5rem 2rem 0;
        gap: 2rem;
    }

    .top-container h1 {
        font-size: 2.5rem;
    }

    /* ////// SECURITY SECTION ////// */
    .security-container {
        margin: 8rem 3rem 0;
    }

    h2 {
        font-size: 2rem;
    }

    /* ////// SERVICE SECTION ////// */
    .services-section {
        margin: 14rem 3rem 0;
    }

    /* ////// MARKET OVERVIEW SECTION ////// */
    .market-overview-section {
        margin: 16rem 3rem 0;
    }

    /* ////// ALWAYS ON SECTION ////// */
    .always-container {
        padding: 8rem 3rem 3rem;
    }


    /* ////// TRADING PACKAGE SECTION ////// */
    .plan-container {
        margin: 16rem 3rem 0;
    }

    /* ////// EXCHAGE SECTION ////// */
    .exchage-crypto {
        padding: 8rem 3rem 5rem;
    }

    .crypto-cards {
        margin: 4rem 0;
        gap: 2rem;
    }

    /* ////// REVIEW SECTION ////// */
    .review-section {
        margin: 16rem 3rem 0;
    }

    /* ////// CALL TO ACTION ////// */
    .call-to-action {
        padding: 8rem 3rem;
    }

    /* ////// FOOTER SECTION ////// */
    footer {
        padding: 3rem 3rem 2rem;
    }

    /* ////////////////////////////// ABOUT PAGE /////////////////////////////////////// */

    /* ////// ABOUT TOP CONTAINER SECTION ////// */
    .about-top-container h1, .contact-top-container h1 {
        font-size: 2.5rem;
    }

    /* ////// WO WE ARE ////// */
    .who-we-are {
        margin: 8rem 3rem;
    }

    /* ////// HOW TO GET STARTED ////// */
    .how-to-get-started {
        padding: 5rem 3rem 8rem;
    }



    /* ////////////////////////////// CONTACT PAGE /////////////////////////////////////// */

    /* ////// CONTACT FORM ////// */
    .contact-form {
        margin: 0 3rem;
    }

    .contact-info h2 {
        font-size: 1.5rem;
    }


    /* ////////////////////////////// MARKET WATCH PAGE /////////////////////////////////////// */

    /* ////// MARKET WATCH ////// */
    .market-watch {
        margin: 0 3rem;
    }


    /* ////////////////////////////// SIGN UP AND LOGIN PAGE /////////////////////////////////////// */

    .sing-up-section {
        padding: 5rem 15rem;
    }

}

@media (max-width:1000px) {
    /* ////// NAV BAR SECTION ////// */
    .nav-items {
        gap: 1rem;
    }

    .nav-items a {
        font-size: 0.8rem;
    }

    .nav-items button {
        padding: 0.5rem 2rem;
        font-size: 0.8rem;
    }

    /* ////// SERVICE SECTION ////// */
    .services-grid {
        grid-template-columns: repeat(1, 1fr);
        gap: 2rem;
    }
}

@media (max-width:850px) {
    /* ////// NAV BAR SECTION ////// */
    .nav-items {
        display: none;
    }

    .mobile-menu {
        display: inline;
        width: fit-content;
        background-color: #141928;
        position: fixed;
        z-index: 1;
        top: 4.3rem;
        padding: 2rem 5rem 4rem 1.5rem ;
    }

    .mobile-menu ul {
        list-style: none;
        padding: 0;
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
    }

    .mobile-menu ul a {
        text-decoration: none;
        color: #D1DDEB;
        font-size: 1rem;
    }

    .mobile-menu  button {
        padding: 0.5rem 2rem;
        font-size: 1rem;
        background-color: #D1DDEB;
        color: #141928;
        border-radius: 0.3rem;
        border: none;
        font-weight: 700;
        cursor: pointer;
    }

    .nav-menu-icon, .remove-nav-icon {
        display: inline;
        font-size: 2rem;
        color: #D1DDEB;
        cursor: pointer;
    }

    .nav-menu-icon.inactive, .remove-nav-icon.inactive, .mobile-menu.inactive {
        display: none;
    }


    /* ////// TOP CONTAINER ////// */
    .top-container, .img-and-services, .market-overview-section, .always-container {
        flex-direction: column;
    }

    .top-container h1 {
        width: 70%;
    }

    .top-container img {
        width: 50%;
    }

    /* ////// SERVICE SECTION ////// */
    .services-grid {
        grid-template-columns: repeat(2, 1fr);
        gap: 2rem;
    }

    /* ////// MARKET OVERVIEW SECTION ////// */
    .market-overview-section, .always-container {
        align-items: center;
    }

    .tradingview-widget-container {
        width: 100%;
    }

    .market-overview-text p {
        text-align: center;
    }

    /* ////// ALWAYS ON SECTION ////// */
    .always-container {
        gap: 0;
    }

    .always-container h2 {
        margin-top: 0;
        text-align: center;
    }

    .always-container p {
        text-align: center;
    }

    /* ////// TRADING PACKAGE SECTION ////// */
    .plan-cards {
        grid-template-columns: repeat(2, 1fr);
    }

    /* ////// EXCHAGE SECTION ////// */ 
    .crypto-cards {
        grid-template-columns: repeat(2, 1fr);
    }

    /* ////// FOOTER SECTION ////// */
    .footer-flex h4 {
        font-size: 1.2rem;
    }
    
    .logo-socials p {
        font-size: 0.8rem;
    }
    
    .socials a{
        font-size: 1.5rem;
    }    
    
    .useful-links a {
        font-size: 0.8rem;
    }
    
    .contact-details h5 {
        margin: 1rem 0 0;
        font-size: 0.8rem;
    }

    .contact-details p {
        font-size: 0.8rem;
    }

    /* ////////////////////////////// ABOUT PAGE /////////////////////////////////////// */

    /* ////// WO WE ARE ////// */
    .who-we-are {
        flex-direction: column;
        align-items: center;
    }

    .who-we-are img {
        width: 100%;
    }
    
    .who-we-are-text {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .who-we-are h2, .who-we-are p {
        text-align: center;
    }

    .who-we-are button {
        margin: 1rem;
    }


    /* ////////////////////////////// SIGN UP AND LOGIN PAGE /////////////////////////////////////// */

    .sing-up-section {
        padding: 5rem 10rem;
    }
    
}

@media (max-width:750px) {
    /* ////// TOP CONTAINER ////// */
    .top-container {    
        padding:5rem 1.5rem 0;
        gap: 2rem;
    }

    .top-container h1 {
        font-size: 2.5rem;
    }

    /* ////// SECURITY SECTION ////// */
    .security-container {
        margin: 8rem 1.5rem 0;
    }

    h2 {
        font-size: 2rem;
    }

    /* ////// SERVICE SECTION ////// */
    .services-section {
        margin: 10rem 1.5rem 0;
    }

    /* ////// MARKET OVERVIEW SECTION ////// */
    .market-overview-section {
        margin: 5rem 1.5rem 0;
    }

    /* ////// ALWAYS ON SECTION ////// */
    .always-container {
        padding: 8rem 1.5rem 3rem;
    }


    /* ////// TRADING PACKAGE SECTION ////// */
    .plan-container {
        margin: 10rem 1.5rem 0;
    }

    /* ////// EXCHAGE SECTION ////// */
    .exchage-crypto {
        padding: 5rem 1.5rem 3rem;
    }

    .crypto-cards {
        margin: 4rem 0;
        gap: 2rem;
    }

    /* ////// REVIEW SECTION ////// */
    .review-section {
        margin: 8rem 1.5rem 0;
    }

    /* ////// CALL TO ACTION ////// */
    .call-to-action {
        padding: 5rem 1.5rem;
    }

    .call-action button {
        padding: 0.5rem 1rem;
        font-size: 0.8rem;
    }

    /* ////// FOOTER SECTION ////// */
    footer {
        padding: 3rem 1.5rem 2rem;
    }

    /* ////////////////////////////// ABOUT PAGE /////////////////////////////////////// */

    /* ////// ABOUT TOP CONTAINER SECTION ////// */
    .about-top-container, .contact-top-container {
        padding:5rem 1.5rem 0;
    }

    /* ////// WO WE ARE ////// */
    .who-we-are {
        margin: 8rem 1.5rem;
    }

    /* ////// HOW TO GET STARTED ////// */
    .how-to-get-started {
        padding: 5rem 1.5rem 8rem;
    }

    .get-started-flex {
        display: flex;
        flex-direction: column;
        margin-top: 3rem;
    }



    /* ////////////////////////////// CONTACT PAGE /////////////////////////////////////// */

    /* ////// CONTACT FORM ////// */
    .contact-form {
        flex-direction: column;
        /* margin: 0 1.5rem; */
    }

    .contact-info, .contact-form form {
        width: 90%;
    }

    .contact-form button {
        font-size: 1rem;
        padding: 0.5rem 2rem;
    }

    /* ////////////////////////////// MARKET WATCH PAGE /////////////////////////////////////// */

    /* ////// MARKET WATCH ////// */
    .market-watch {
        margin: 0 1.5rem;
    }


    /* ////////////////////////////// SIGN UP AND LOGIN PAGE /////////////////////////////////////// */

    .sing-up-section {
        padding: 5rem 5rem;
    }
}

@media (max-width:550px) {
    /* ////// NAV BAR SECTION ////// */
    nav {
        padding: 0.6rem 1rem;
    }

    .nav-menu-icon,.remove-nav-icon {
        font-size: 1.5rem;
    }

    /* ////// TOP CONTAINER ////// */
    .top-container h1 {
        font-size: 2rem;
        width: 90%;
    }

    /* ////// SECURITY SECTION ////// */
    .security-container {
        margin: 8rem 1rem 0;
    }

    .security-flex {
        flex-direction: column;
        margin-top: 3rem;
    }

    h2 {
        font-size: 1.5rem;
    }

    /* ////// SERVICE SECTION ////// */
    .services-section {
        margin: 8rem 1rem 0;
    }

    .img-and-services {
        margin-top: 3rem;
    }

    /* ////// MARKET OVERVIEW SECTION ////// */
    .market-overview-section {
        margin: 5rem 1rem 0;
    }

    .market-overview-text p {
        font-size: 0.8rem;
    }

    /* ////// ALWAYS ON SECTION ////// */
    .always-container {
        padding: 8rem 1rem 3rem;
    }

    .always-container img {
        width: 80%;
    }

    /* .find-more {
        margin: 3rem 0 0 2rem;
    } */

    /* ////// TRADING PACKAGE SECTION ////// */
    .plan-container {
        margin: 8rem 1.5rem 0;
    }

    .plan-cards {
        grid-template-columns: repeat(1, 1fr);
    }

    /* ////// EXCHAGE SECTION ////// */
    .exchage-crypto {
        padding: 3rem 1rem 1.5rem;
    }

    .crypto-cards {
        grid-template-columns: repeat(1, 1fr);
    }

    /* ////// REVIEW SECTION ////// */
    .review-section {
        margin: 8rem 1rem 0;
    }

    .testimony-text h5 {
        font-size: 1rem;
    }

    .testimony-text small {
        font-size: 0.7rem;
    }

    .testimony-text p {
        font-size: 0.8rem;
    }

    /* ////// CALL TO ACTION ////// */
    .call-to-action {
        padding: 5rem 1rem;
    }

    .call-action {
        flex-direction: column;
        align-items: center;
        justify-content:  center;
        gap: 2rem;
    }

    .call-action div {
        width: 100%;
        text-align: center;
    }

    .call-action p {
        margin-top: 0.5rem;
    }

    .call-action button {
        padding: 0.5rem 1rem;
        font-size: 0.8rem;
    }

    /* ////// FOOTER SECTION ////// */
    footer {
        padding: 3rem 1rem 2rem;
    }

    .footer-flex {
        grid-template-columns: repeat(1, 1fr);
        gap: 3rem;
    }

    /* ////////////////////////////// ABOUT PAGE /////////////////////////////////////// */

    /* ////// ABOUT TOP CONTAINER SECTION ////// */
    .about-top-container h1, .contact-top-container h1 {
        font-size: 2rem;
    }

    /* ////// WO WE ARE ////// */
    .who-we-are {
        margin: 8rem 1rem;
    }

    /* ////// HOW TO GET STARTED ////// */
    .how-to-get-started {
        padding: 5rem 1rem 8rem;
    }


    /* ////////////////////////////// CONTACT PAGE /////////////////////////////////////// */

    /* ////// CONTACT FORM ////// */
    .contact-info, .contact-form form {
        padding: 2rem 1.5rem;
    }
    .contact-info h2 {
        font-size: 1.3rem;
    }
    .contact-info, .contact-form form {
        width: 80%;
    }

    .contact-info i {
        font-size: 0.7rem;
    }

    .contact-info h3 {
        font-size: 1rem;
    }

    .contact-info p {
        font-size: 0.8rem;
    }

    .contact-form form input {
        height: 2.5rem;
        font-size: 0.8rem;
    }

    /* ////////////////////////////// MARKET WATCH PAGE /////////////////////////////////////// */

    /* ////// MARKET WATCH ////// */
    .market-watch {
        margin: 0 1rem;
    }


    /* ////////////////////////////// SIGN UP AND LOGIN PAGE /////////////////////////////////////// */

    .sing-up-section {
        padding: 5rem 2rem;
    }

    .form-container form span {
        font-size: 0.85rem;
    }

    .input, .form-container form select {
        height: 2rem;
        font-size: 0.8rem;
    }

    .reg-btn {
        padding: 0.5rem;
    }

    .terms-privacy p, .remember-me p {
        font-size: 0.8rem;
    }

    .already-have-acc {
        font-size: 0.8rem;
    }

    .remeber-forget a {
        font-size: 0.8rem;
    }
}