@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400;500;600;700;800;900;1000&display=swap');

body {
    font-family: 'Nunito Sans', sans-serif;
    overflow-x: hidden;
    margin: 0;
}

button {
    font-family: 'Nunito Sans', sans-serif;
}


/*Colors
 [  #D1DDEB nav bar text color 
    #141928 nav bar background color ] */

/* ////// NAV BAR SECTION ////// */
nav {
    background-color: #141928;
    padding: 0.8rem 3rem;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1;
}

nav ul, .nav-items{
    display: flex;
    list-style: none;
    align-items: center;
}

nav ul {
    justify-content: space-between;
    margin: 0;
    padding: 0;
}

nav ul li {
    cursor: pointer;
}

.nav-items {
    gap: 2rem;
    margin-right: 6rem;
}

.nav-items a {
    text-decoration: none;
    color: #D1DDEB;
    font-size: 1rem;
}

.nav-items .a-links:hover {
    border-bottom: 1px solid #D1DDEB;
    padding-bottom: 0.2rem;
}

.nav-items button {
    padding: 0.5rem 2rem;
    font-size: 1rem;
    background-color: #D1DDEB;
    color: #141928;
    border-radius: 0.3rem;
    border: none;
    font-weight: 700;
    cursor: pointer;
}

.nav-items button:hover {
    background: transparent;
    color: #D1DDEB;
    border-right: 1px solid #D1DDEB;
    border-left: 1px solid #D1DDEB;
    box-shadow: 0 4px 8px #fff8f84d;
}

/* ////// TOP CONTAINER ////// */
.top-container {
    display: flex;
    align-items: center;
    padding:5rem 5rem 0;
    background-color: #16122C;

}

.top-container img {
    width: 40%;
}

/* .top-container-text {
    width: 100%;

} */

.top-container h1 {
    font-size: 4rem;
    line-height: 4rem;
    margin: 0;
    color: white;
}

.top-container p {
    font-size: 1rem;
    color: #D1DDEB;
    width: 70%;
}

.top-container button {
    padding: 1rem 3rem;
    font-size: 1.5rem;
    background-color: #D1DDEB;
    color: #141928;
    border-radius: 0.3rem;
    border: none;
    font-weight: 700;
    cursor: pointer;
}

/* ////// SECURITY SECTION ////// */
.security-container {
    margin: 8rem 8rem 0;

}

.security-container h2, .services-section h2 {
    text-align: center;
    font-size: 2.5rem;
}

.security-flex {
    display: flex;
    justify-content: center;
    gap: 3rem;
}

.security-flex div {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.security-flex img {
    width: 25%;
    aspect-ratio: 3/2;
    object-fit: contain;
    /* mix-blend-mode: color-burn; */
}

.security-flex div h3 {
    font-size: 1.2rem;
}

.security-flex div p {
    text-align: center;
    color: #8492a6;
    margin: 0;
}

/* ////// SERVICE SECTION ////// */
.services-section {
    margin: 14rem 8rem 0;
}

.services-section h2 {
    margin-bottom: 1rem;
}

.service-p {
    color: #8492a6;
    font-size: 1rem;
    text-align: center;
    margin: 0;
}

.img-and-services {
    display: flex;
    align-items: center;
    gap: 3rem;
    margin-top: 8rem;
}

.services-grid {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
}

.services-grid i {
    font-size: 2rem;
    color: #8492a6;
}

.services-grid h3 {
    margin: 0.3rem 0 1rem;
}

.services-grid p {
    font-size: 1rem;
    margin: 0;
    color: #8492a6;
}


/* ////// MARKET OVERVIEW SECTION ////// */
.market-overview-section {
    margin: 16rem 8rem 0;
    display: flex;
    gap: 3rem;
}

.market-overview-text h2 {
    text-align: center;
    font-size: 2.5rem;
}

.market-overview-text p {
    margin: 0;
    line-height: 1.8rem;
    color: #8492a6;
}

/* ////// ALWAYS ON SECTION ////// */
.always-container {
    margin: 8rem 0 0;
    background-color: #16122C;
    display: flex;
    gap: 2rem;
    padding: 8rem 8rem 3rem;
}

.always-container h2 {
    font-size: 2.5rem;
    color: #D1DDEB;
}

.always-container p {
    color: #8492a6;
    margin: 0 0 1rem;

}

.find-more {
    color: #D1DDEB;
    text-decoration: none;
    cursor: pointer;
}

.find-more:hover {
    filter: brightness(.8);
}

/* ////// TRADING PACKAGE SECTION ////// */
.plan-container {
    margin: 16rem 8rem 0;
}

.plan-container h2 {
    font-size: 2.5rem;
    text-align: center;
    margin-bottom: 1rem;
}

.select-p {
    color: #8492a6;
    text-align: center;
    margin: 0;
}

.plan-cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 2rem;
    row-gap: 4rem;
    margin-top: 5rem;
}

.plan-cards > * {
    border: 1px solid #D1DDEB;
    border-radius: 0.6rem;
    padding: 1.5rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, .3);
    transition: transform 0.3s;
}

.plan-cards > *:hover {
    transform: scale(1.05); 
}

.plan-cards h4 {
    margin: 0;
    background-color: #16122C;
    padding: 0.5rem 1rem;
    color: #D1DDEB;
    width: fit-content;
    border-radius: 1.5rem;
}

.plan-price {
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 0.3rem;
}

.plan-duration {
    color: #8492a6;
    font-weight: bold;
}

.plan-perks {
    border-top: 1px solid #D1DDEB;
    margin-top: 1rem;
}

.plan-perks p {
    color: #8492a6;
    font-size: 1rem;
}

.plan-cards button {
    width: 100%;
    margin-top: 1rem;
    padding: 0.6rem 1rem;
    font-size: 1rem;
    font-weight: bold;
    background-color: #16122C;
    color: #D1DDEB;
    border: none;
    border-radius: 0 0 0.5rem 0.5rem;
    cursor: pointer;
}

.plan-cards button:hover {
    filter: opacity(.9);
}

/* ////// EXCHAGE SECTION ////// */
.exchage-crypto {
    background-color: #16122C;
    padding: 8rem 8rem 5rem;
    margin-top: 8rem;
}



.exchage-crypto h2 {
    font-size: 2.5rem;
    text-align: center;
    margin: 0;
    color: #D1DDEB;
}

.exchage-p {
    text-align: center;
    font-size: 1rem;
    color: #8492a6;
    width: 70%;
    margin: 1rem auto;
}

.crypto-cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: 4rem;
    gap: 3rem;
}

/* ////// REVIEW SECTION ////// */
.review-section {
    margin: 16rem 8rem 0;
}

.review-section h2 {
    font-size: 2.5rem;
    text-align: center;
    margin: 0;

}

.review-p {
    text-align: center;
    font-size: 1rem;
    color: #8492a6;
}

.testimony-container {
    display: flex;
    margin-top: 3rem;
    width: 100%;
    overflow: hidden;
    transition: transform 0.3s ease-in-out;
    
}

.testimony {
    display: flex;
    align-items: center;
    flex: 0 0 auto;
    width: inherit;
    gap: 1rem;
}

.testimony img {
    width: 40%;
}

.testimony-text {
    width: 100%;
}

.testimony-text h5 {
    font-size: 1.2rem;
    margin: 0;
    color: #8492a6;
}

.testimony-text small {
    color: #D1DDEB;
    margin: 0.5rem 0;
}

.stars {
    margin-top: 1.5rem;
    display: flex;
    gap: 0.8rem;
    color: #F17425;
}

.testimony-text p {
    font-size: 1rem;
    color: #8492a6;
}

/* ////// CALL TO ACTION ////// */
.call-to-action {
    background-color: #16122C;
    margin-top: 6rem;
    padding: 8rem;
}

.call-action {
    background-color: #D1DDEB;
    padding: 3rem 2rem;
    border-radius: 0.5rem;
    display: flex;
    align-items: end;
    justify-content: space-between;
}

.call-action div {
    width: 60%;
}

.call-action h2 {
    margin: 0;
    font-size: 2.5rem;
    color: #141928;
}

.call-action p {
    margin-bottom: 0;
    font-size: 1rem;
}

.call-action button {
    padding: 0.8rem 1.5rem;
    font-size: 1rem;
    font-weight: bold;
    border: none;
    background-color: #16122C;
    color: #D1DDEB;
    border-radius: 0.5rem 0.5rem 0 0;
    cursor: pointer;
}

/* ////// FOOTER SECTION ////// */
footer {
    background-color: #D1DDEB;
    padding: 3rem 8rem 2rem;
}

.footer-flex {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
}

.footer-flex h4 {
    font-size: 1.5rem;
    margin: 0 0 1rem;
    color: #141928;
}

.logo-socials p {
    font-size: 1rem;
    font-weight: bold;
    color: #16122C;
    margin-top: 0;
}

.socials {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.socials a{
    font-size: 2.5rem;
    color: #16122C;
    cursor: pointer;
}

.useful-links {
    display: flex;
    flex-direction: column;
}

.useful-links a {
    text-decoration: none;
    font-size: 1rem;
    color: #16122C;
    cursor: pointer;
    font-weight: bold;
    margin-bottom: 0.8rem;
}

.useful-links a:hover {
    filter: brightness(.9);
}

.contact-details h5 {
    margin: 1rem 0 0;
    font-size: 1rem;
}

.contact-details p {
    margin: 0;
}

.copyright {
    margin-top: 4rem;
    font-size: 0.8rem;
    color: #16122C;
}

@media (max-width:1290px) {
    /* ////// TRADING PACKAGE SECTION ////// */
    .plan-perks p {
        font-size: 0.8rem;
    }
    
}