@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400;500;600;700;800;900;1000&display=swap');

body {
    font-family: 'Nunito Sans', sans-serif;
    overflow-x: hidden;
    margin: 0;
    box-sizing: border-box;
    background-color: #141928;
}

button {
    font-family: 'Nunito Sans', sans-serif;
    cursor: pointer;
}

i {
    cursor: pointer;
}

/* ////// NAV BAR SECTION ////// */
nav {
    background-color: #141928;
    padding: 0.8rem 3rem;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1;
    border-bottom: 1px solid #D1DDEB;
}

nav ul {
    display: flex;
    list-style: none;
    align-items: center;
    justify-content: space-between;
    margin: 0;
    padding: 0 4rem 0 0;
}

.welcome {
    font-size: 1.5rem;
    font-weight: bold;
    color: #D1DDEB;
}

.sign-out-btn {
    padding: 0.5rem 1.2rem;
    font-size: 1rem;
    border: none;
    background-color: #D1DDEB;
    font-weight: bold;
    cursor: pointer;
}

.nav-menu-icon, .remove-nav-icon {
    display: none;
}


/* ////// SIDE AND MAIN SECTION ////// */
.side-main-flex {
    padding-top: 4.9rem;
    display: flex;
}

/* ////// SIDE BAR ////// */
.user-side-bar {
    padding: 2rem 0.3rem 1rem 1rem;
    display: flex;
    flex-direction: column;
    border-right: 1px solid #D1DDEB;
    position: fixed;
    overflow: auto;
    background-color: #141928;
    height: 82vh;
    z-index: 1;
    top: 9%;
}

.user-side-bar::-webkit-scrollbar{
    display: none;
}

.user-side-bar a, .user-side-bar span {
    text-decoration: none;
    color: #8492a6;
    font-size: 1rem;
    font-weight: bold;
}

.user-side-bar i {
    color: #8492a6;
}

.user-div {
    display: flex;
    gap: 1rem;
    align-items: center;
    padding: 0.5rem 0.8rem;
    margin-bottom: 1.5rem;
    cursor: pointer;
}

.user-div:hover {
    background-color: #16122C;
}

.user-div.active {
    background-color: #D1DDEB;
}

.user-side-bar a.active, .user-side-bar span.active, .user-side-bar i.active {
    color: #141928;
}

.account-dropdown li::marker, .dep-with-dropdown li::marker, .packages-dropdown li::marker {
    color: #8492a6;
}

.account-dropdown ul, .dep-with-dropdown ul, .packages-dropdown ul {
    margin: 0;
    padding-left: 3.5rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.account-dropdown, .dep-with-dropdown, .packages-dropdown {
    margin-top: -0.5rem;
    margin-bottom: 1.5rem;
}

.account-dropdown.inactive, .dep-with-dropdown.inactive, .packages-dropdown.inactive {
    display: none;
}

/* ////////////////////////////// DASHBOARD OVERVIEW /////////////////////////////////////// */
.dashboard-overview, .user-account, .Withdraw-info, .user-support,
 .transaction-history, .user-deposits {
    margin-left: 15rem;
    padding: 2rem 2rem 5rem;
    width: 100%;
    background-color: #141928;
}

/* ////// DASHBOARD////// */
.dashboard-main {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    padding: 0.2rem 1.5rem;
    gap: 1.5rem;
    margin-bottom: 3rem;
}

.dep-bal, .prof-tpack, .bon-apack {
    border-right: 1px solid #8492a6;
}

.dep-bal > *, .prof-tpack > *, .bon-apack > *, .ref > * {
    display: flex;
    align-items: center;
    gap: 2rem;
    padding: 1.5rem 0;
}

.dashboard-main i {
    font-size: 2rem;
    /* color: #F7931A; */
}

.deposit i {
    color: #FFAD46;
}

.profit i, .balance i {
    color: #2EBE36;
}

.total-package i, .bonus i {
    color: #F25961;
}

.active-package i, .referral i {
    color: #1572E8;
}

.dashboard-main h5 {
    color: #8492a6;
    font-size: 1rem;
    margin: 0;
}

.dashboard-main p {
    color: white;
    font-weight: bold;
    font-size: 1.2rem;
    margin-bottom: 0;
    margin-top: 0.5rem;
}

/* ////// PERSONAL CHART ////// */
.personal-chart {
    height: 38rem;
    margin-bottom: 2rem;
}

h2 {
    margin: 0;
    color: #D1DDEB;
    font-size: 1.5rem;
}

#tradingview_d3e64 {
    height: 33rem;
}

.tradingview-widget-container {
    margin-top: 2rem;
    height: inherit;
}

.rights {
    color: #8492a6;
}

/* ////////////////////////////// ACCOUNT SETTING /////////////////////////////////////// */

h1 {
    color: #D1DDEB ;
    font-size: 2.5rem;
}

/* ////// USER FORM INFO ////// */
.profile-form {
    margin-top: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profile-form form, .support-form form {
    display: flex;
    flex-direction: column;
    padding: 4rem 3rem;
    border-radius: 1rem;
    width: 70%;
    background-color: #141928;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.profile-form span, .support-form span {
    font-size: 1rem;
    color: #D1DDEB;
    margin-bottom: 0.5rem;
}

.profile-form input, .support-form input,.support-form textarea {
    height: 2rem;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    background-color: transparent;
    border: 1px solid #8492a6;
    color: #D1DDEB;
    margin-bottom: 2rem;
    border-radius: 0.25rem;
}

input:focus, textarea:focus {
    outline: none;
}

.save-info-btn, .mgn-acc-btn, .support-btn, .new-deposit-btn, .deposit-popup button, .payment-btn {
    padding: 0.5rem 2rem;
    border: none;
    font-size: 1.2rem;
    background: #8492a6;
    color: #141928;
    border-radius: 0.25rem;
    font-weight: bold;
    cursor: pointer;
}

.save-info-btn {
    margin-bottom: 2rem;
}


/* ////////////////////////////// WITHDRAWAL INFO /////////////////////////////////////// */

/* ////// withdaw info form cont ////// */
.withdrawal-form {
    padding: 3rem 1rem 0;
    background-color: #141928;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    border-radius: 0.25rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.bank-info, .btc-info, .eth-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem 2rem;
}

.bank, .btc, .eth {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.bank i, .btc i, .eth i {
    font-size: 2rem;
    color: #8492a6;
}

.withdrawal-form p {
    color: #D1DDEB;
    font-size: 1.5rem;
    margin: 0;
}

.open-info-dropdown, .close-info-dropdown {
    font-size: 1.5rem;
    color: #8492a6;
    cursor: pointer;
}

.bank-form, .btc-form, .eth-form {
    display: flex;
    flex-direction: column;
    padding: 3rem 3rem 1rem;
    border-top: 1px solid #D1DDEB;
    border-radius: 0.25rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    visibility: hidden;
    max-height: 0;
    transform: translateY(-100%);
    transition: transform 0.5s ease;
}

.bank-form.active, .btc-form.active, .eth-form.active {
    visibility: visible;
    max-height: fit-content;
    transition: opacity 0.5s ease;
    transform: translateY(0);
    transition: transform 0.5s ease;
}

.withdrawal-form span {
    font-size: 1rem;
    color: #D1DDEB;
    margin-bottom: 0.5rem;
}

.withdrawal-form input {
    height: 2rem;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    background-color: transparent;
    border: 1px solid #8492a6;
    color: #D1DDEB;
    margin-bottom: 2rem;
    border-radius: 0.25rem;
}

.withdrawal-form input:focus {
    outline: none;
}

.close-info-dropdown.inactive, .open-info-dropdown.inactive {
    display: none;
}

/* ////////////////////////////// SUPPORT /////////////////////////////////////// */

.user-support h1, .user-support h4, .user-support p {
    text-align: center;
}

.user-support h4 {
    color: #D1DDEB;
    font-size: 1.2rem;
    margin: 0;
}

.user-support p {
    color: #D1DDEB;
    font-size: 1.2rem;
}

.support-form {
    display: flex;
    justify-content: center;
}

.support-form textarea {
    height: 10rem;
}


/* ////////////////////////////// TRANSACTION HISTORY/DEPOSIT /////////////////////////////////////// */

.history-container {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.history-section {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    border-bottom: 1px solid #D1DDEB;
}

.history-section a {
    text-decoration: none;
}

.history-section p {
    text-decoration: none;
    color: #8492a6;
    font-size: 1.5rem;
    margin: 0;
}

.history-section div {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1.5rem 0 1rem;
    cursor: pointer;
    border-radius: 0.5rem 0.5rem 0 0;
}

.history-section div:hover {
    border: 1px solid #D1DDEB;
    border-bottom: none;
}

.deposit-history.active, .withdraw-history.active, .other-history.active {
    background-color: #D1DDEB;
}

table {
    padding: 3rem 1rem 0;
    color: #D1DDEB;
    width: 95%;
    border-spacing: 0;
    box-sizing: content-box;
    overflow-x: scroll;
}

th {
    font-size: 1.2rem;
    border-bottom: 1px solid #8492a6;
    padding: 1.5rem 0;
}

td {
    border-bottom: 1px solid #8492a6;
    text-align: center;
    font-size: 1rem;
    padding: 1.5rem 0;
}

.entries {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 1rem;
}

.entries p {
    font-size: 1rem;
    margin: 0;
    color: #8492a6;
    font-weight: bold;
}

.entries-buttons {
    display: flex;
    gap: 1rem;
    align-items: center;
}

.prev-btn, .next-btn {
    padding: 0.5rem 1rem;
    font-size: 1.5rem;
    font-weight: bold;
    background-color: #8492a6;
    color: #D1DDEB;
    border: none;
    border-radius: 1.5rem;
    cursor: pointer;
}

.pg-btn {
    padding: 0.5rem 1rem;
    font-size: 1rem;
    border: none;
    background-color: #D1DDEB;
    color: #141928;
    font-weight: 500;
    cursor: pointer;
}

/* ////////////////////////////// DEPOSIT/WITHDRAWAL /////////////////////////////////////// */

.deposit-popup {
    padding: 1rem 0;
    background-color: #16122C;
    width: 36%;
    max-width: 100%;
    border-radius: 0.4rem;
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 2rem;
    left: 50%;
    transform: translateX(-50%);
    z-index: 2;
}

.popup-title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1rem;
    border-bottom: 1px solid #D1DDEB;
    padding-bottom: 1rem;
}

.popup-title h3 {
    color: #D1DDEB;
    font-size: 1.0375rem;
    margin: 0;
}

.popup-title i {
    color: #8492a6;
    font-size: 1.5rem;
}

.deposit-popup input {
    margin: 1rem;
    height: 1.5rem;
    padding: 0.3125rem;
    font-size: 0.875rem;
    font-weight: bold;
    color: #8492a6;
    border: 1px solid #8492a6;
    background-color: transparent;
}

.deposit-popup button {
    width: fit-content;
    margin: 0 1rem;
    font-size: 0.875rem;
}

.deposit-popup.inactive {
    display: none;
}

.payment-section {
    background-color: #141928;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    color: #D1DDEB;
    padding: 3rem 1rem;
}

.payment-p {
    margin: 0;
    font-size: 1.2rem;
}

.payment-p span {
    font-weight: bold;
}

.payment-mode {
    display: flex;
    align-items: flex-start;
    gap: 1.5rem;
    margin: 1rem 0 5rem;
}

.bank-mode, .crypto-mode {
    padding: 1rem;
    border-radius: 0.5rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    cursor: pointer;
}

.payment-mode h3 {
    font-size: 1.2rem;
    margin: 0;
    color: #8492a6;
    
}

.bank-details, .crypto-details {
    margin-top: 1rem;
    visibility: hidden;
    max-height: 0;
    transform: translateY(-100%);
    transition: transform 0.5s ease;
}

.bank-details p, .crypto-details p {
    font-size: 1rem;
}

.bank-details.inactive, .crypto-details.inactive {
    visibility: visible;
    max-height: fit-content;
    transition: opacity 0.5s ease;
    transform: translateY(0);
    transition: transform 0.5s ease;
}

.deposit-form {
    display: flex;
    flex-direction: column;
}

.deposit-form input, .deposit-form select {
    margin-bottom: 2rem;
    padding: .6rem 1rem ;
    background-color: transparent;
    border: 1px solid #8492a6;
    width: fit-content;
    cursor: pointer;
    font-size: 1rem;
    color: white;
}

.deposit-form select:focus{
    outline: none;
}

.deposit-form label {
    font-size: 1rem;
    margin-bottom: 0.5rem;
    color: #8492a6;
}

.payment-btn {
    width: fit-content;
}


/* MEDIA RESPONSIVENESS  */

@media (max-width:1000px) {
    /* ////// NAV BAR SECTION ////// */
    .sign-out-btn {
        display: none;
    }

    .nav-menu-icon, .remove-nav-icon {
        display: inline;
        font-size: 2rem;
        color: #D1DDEB;
        cursor: pointer;
    }

    .nav-menu-icon.inactive, .remove-nav-icon.inactive {
        display: none;
    }

    /* ////// SIDE BAR ////// */
    .user-side-bar.active {
        display: none;
        transition: ease-in-out 5ms;
    }

    /* ////////////////////////////// DASHBOARD OVERVIEW /////////////////////////////////////// */
    .dashboard-overview, .user-account, .Withdraw-info, .user-support,
     .transaction-history, .user-deposits {
        margin-left: 0;
    }
}

@media (max-width:800px) {
    .dashboard-main {
        grid-template-columns: repeat(2, 1fr);
        row-gap: 0;
    }
}

@media (max-width:760px) {
    /* ////////////////////////////// TRANSACTION HISTORY/DEPOSTI /////////////////////////////////////// */
    /* .history-container{
        white-space: nowrap;
        overflow-x: scroll;
    } */

    .history-section div {
        padding: 1rem 0;
        /* white-space: nowrap; */
    }

    .history-section p {
        font-size: 1.2rem;
    }

    table {
        padding: 2rem 1rem 0;
        
    }

    th {
        font-size: 1rem;
        /* min-width: 100% !important; */
        /* white-space: nowrap; */
    }

    td {
        font-size: 0.8rem;
        /* min-width: 100% !important; */
        /* white-space: nowrap; */
    }

    .entries {
        padding: 1rem;
        /* white-space: nowrap; */
    }

    .prev-btn, .next-btn {
        font-size: 1rem;
    }

    .pg-btn {
        font-size: 0.8rem;
    }
}

@media (max-width: 700px) {
    /* ////////////////////////////// DEPOSIT/WITHDRAWAL /////////////////////////////////////// */
    .payment-mode {
        display: flex;
        flex-direction: column;
    }
}

@media (max-width:600px) {
    /* ////////////////////////////// ACCOUNT SETTING /////////////////////////////////////// */

    /* ////// USER FORM INFO ////// */
    .profile-form form, .support-form form {
        width: 90%;
    }
}

@media (max-width:560px) {
     /* ////// SIDE BAR ////// */
     .user-side-bar {
        top: 8%;
    }

    /* ////// NAV BAR SECTION ////// */
    nav {
        padding: 0.8rem 1.5rem;
    }

    .welcome {
        font-size: 1rem;
    }

    .logo img {
        width: 6rem;
        height: auto;
    }

    .nav-menu-icon,.remove-nav-icon {
        font-size: 1.5rem;
    }


    /* ////////////////////////////// DASHBOARD OVERVIEW /////////////////////////////////////// */
    .dashboard-main {
        grid-template-columns: repeat(1, 1fr);
    }

    .dashboard-overview, .user-account, .transaction-history {
        padding: 2rem 1.5rem 5rem;
    }

    .dep-bal, .prof-tpack, .bon-apack {
        border-right: none;
    }

    .dep-bal > *, .prof-tpack > *, .bon-apack > *, .bon-apack {
        border-bottom: 1px solid #8492a6;
    }

    /* ////////////////////////////// ACCOUNT SETTING /////////////////////////////////////// */
    
    h1 {
        font-size: 1.5rem;
    }

    /* ////// USER FORM INFO ////// */
    .profile-form form, .user-support form {
        padding: 3rem 1.5rem;
    }

    .profile-form span, .profile-form input, .withdrawal-form span,
     .withdrawal-form input, .user-support span, .user-support input {
        font-size: 0.9rem;
    }

    .save-info-btn, .mgn-acc-btn, .support-btn {
        font-size: 1rem;
        padding: 0.5rem 1rem;
    }

    /* ////////////////////////////// WITHDRAWAL INFO /////////////////////////////////////// */
    .bank-info, .btc-info, .eth-info {
        padding: 1.5rem 1rem;
    }
    .withdrawal-form p {
        font-size: 1rem;
    }

    .bank-form, .btc-form, .eth-form {
        padding: 2rem 1.5rem 1rem;
    }
    .bank i, .btc i, .eth i {
        font-size: 1.5rem;
    }

    .open-info-dropdown, .close-info-dropdown {
        font-size: 1rem;
    }

    /* ////////////////////////////// SUPPORT /////////////////////////////////////// */

    .user-support h4, .user-support p {
        font-size: 1.2rem;
    }

    .user-support textarea {
        height: 8rem;
    }

    /* ////////////////////////////// TRANSACTION HISTORY/DEPOSTI /////////////////////////////////////// */

    .history-section div {
        padding: 1rem 0;
    }

    .history-section p {
        font-size: 1rem;
    }

    th {
        font-size: 0.8rem;
    }

    td {
        font-size: 0.6rem;
    }

    .prev-btn, .next-btn {
        font-size: 0.8rem;
    }

    .pg-btn {
        font-size: 0.6rem;
    }
}